 <!-- start create about  -->
    <div class="container">

      <div class="about">
      <div class="images">
        <div class="image1">
          <img src="images/about1.png" alt="" class="aboutImg1">
        </div>
       <div class="innerImages">
         <img src="images/about2.png" alt="" class="aboutImg2">
        <img src="images/about3.png" alt="" class="aboutImg3">
       </div>


      </div>
      <div class="text">
        <p>About us</p>
        <h2>We Provide Best And Quality Gifts Box Product For You</h2>
        <button (click) = "getId(products[6]._id)" class="discover">Discover More -></button>
        <div class="icons">
          <div class="icon">
          <i class="fa-solid fa-check"></i>
          <p>Streamlined Shipping Experience</p>
        </div>
        <div class="icon">
          <i class="fa-solid fa-check"></i>
          <p>Affordable Modern Design</p>
        </div><div class="icon">
          <i class="fa-solid fa-check"></i>
          <p>Competitive Price & Easy To Shop</p>
        </div><div class="icon">
          <i class="fa-solid fa-check"></i>
          <p>We Made Awesome Products</p>
        </div>
        </div>
      </div>
    </div>


