<div class="container">

  <!-- create Gifts Box -->
<div class="bigBox">
  <div class="box">
  <i class="fa-solid fa-gifts"></i>
  <div class="text">
    <h3>Gifts Box</h3>
    <span>30 items</span>
  </div>
</div>
<div class="box">
  <i class="fa-solid fa-house"></i>
  <div class="text">
    <h3>Home & Living Gifts</h3>
    <span>25 items</span>
  </div>
</div>
<div class="box">
<i class="fa-solid fa-gem"></i>
  <div class="text">
    <h3>Jewelry & Acessories</h3>
    <span>15 items</span>
  </div>
</div>
<div class="box">
  <i class="fa-solid fa-child-dress"></i>
  <div class="text">
    <h3>Garment Care</h3>
    <span>05 items</span>
  </div>
</div>
<div class="box">
 <i class="fa-solid fa-stapler"></i>
  <div class="text">
    <h3>Office & Stationery</h3>
    <span>30 items</span>
  </div>
</div>
</div>

<!-- create imgaes -->
<div class="giftImages">


   <div class="gift1">
    <img src="images/gift1.png" alt="">
    <div class="details">
      <span>start at 10.99$</span>
      <p>Special Gifts Box For Your Love</p>
      <button (click) = "getId(products[0]._id)"> Shop Now -> </button>
    </div>
  </div>

  <div class="gift2">
    <img src="images/gift2.jpg" alt="">
     <div class="details">
      <p class="pGift">Best Gift Shop</p>
      <h2>Choose Perfect Gifts From Us</h2>
      <p class="para">Culpa ducimus nesciunt aliquam non rerum esse recusandae omnis. Rerum optio dolores et.</p>
      <button (click) = "getId(products[1]._id)" >Shop Now -></button>
      <button class="right-arrow">></button>
      <button class="left-arrow"><</button>

    </div>
  </div>

  <div class="gift3">
    <img src="images/gift3.png" alt="">
     <div class="details">
      <p>Gift Box</p>
      <h3>Awesome Gifts Box Collectons</h3>
      <button (click) = "getId(products[3]._id)" >Shop Now -></button>
    </div>
  </div>

  <div class="gift4">
    <img src="images/gift4.png" alt="">
     <div class="details">
       <p>Occasion Gift </p>
      <h3>Best Occasion Gifts Collections</h3>
      <button (click) = "getId(products[4]._id)">Discover Now -></button>
    </div>
  </div>

  <div class="gift5">
    <img src="images/gift5.png" alt="">
     <div class="details">
       <p>Occasion Gift </p>
      <h3>Best Occasion Gifts Collections</h3>
      <button (click) = "getId(products[5]._id)">Discover Now -></button>
    </div>
  </div>


</div>

<!-- start create services -->
 <div class="service">

  <div class="box">
    <i class="fa-solid fa-truck"></i>
    <div class="text">
      <h2>Free Deleivery</h2>
      <p>Orders Over $120</p>
    </div>
  </div>

  <div class="box">
    <i class="fa-solid fa-arrows-rotate"></i>
    <div class="text">
      <h2>Get Refund</h2>
      <p>Within 30 Days Returns</p>
    </div>
  </div>

  <div class="box">
    <i class="fa-solid fa-wallet"></i>
    <div class="text">
      <h2>Safe Payment</h2>
      <p>100% Secure Payment</p>
    </div>
  </div>

  <div class="box">
   <i class="fa-solid fa-headset"></i>
    <div class="text">
      <h2>24/7 Support</h2>
      <p>Feel Free To Call Us</p>
    </div>
  </div>

 </div>


 <!-- start create primuim gifts  -->
  <div class="premium">
    <div class="uniqueBox">
      <p class="premiumGift">Premuim Gifts</p>
      <h2>Pest Seller gifts and products</h2>
      <p class="text">Recusandae tempora aut laborum molestias veniam. A commodi sequi accusantium ullam cupiditate. Neque quidem qui et autem dolor dicta necessitatibus ut ad.</p>
      <button>Explore Now</button>

    </div>

    <div class="box">
      <img src="images/premiumGift1.png" alt="">
      <p>Special Gift Box</p>
      <span class="ratings">
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      </span>
      <br>
      <span class="price">250$</span>
      <button class="shop"><i class="fa-solid fa-bag-shopping"></i></button>
    </div>

    <div class="box">
       <img src="images/premiumGift2.png" alt="">
      <p>Special Gift Box</p>
       <span class="ratings">
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      </span>
      <br>
      <span class="price">250$</span>
      <button class="shop"><i class="fa-solid fa-bag-shopping"></i></button>
    </div>

    <div class="box">
       <img src="images/premiumGift3.png" alt="">
      <p>Special Gift Box</p>
       <span class="ratings">
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      </span>
      <br>
      <span class="price">250$</span>
      <button class="shop"><i class="fa-solid fa-bag-shopping"></i></button>
    </div>

  </div>

  <!-- start create popular items -->
   <div class="popularItems">
    <!-- <h2>Popular Items</h2> -->
     @for(product of products.slice(0,12); track product._id){
      <div class="box">
        <img [src] = 'product.imgCover' alt="" (click) = getId(product._id)>
         <p>Special Gift Box</p>
      <span class="ratings">
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      </span>
      <br>
      <span class="price">250$</span>
      <button class="shop"><i class="fa-solid fa-bag-shopping"></i></button>
      </div>
     }
   </div>

   <!-- start create about -->
    <div class="about">
      <div class="images">
     @for(img of products[6].images; track $index ){
      @if($last === false){
        <img [src]="img" alt="">
      }
     }
      </div>
      <div class="text">
        <p>About us</p>
        <h2>We Provide Best And Quality Gifts Box Product For You</h2>
        <button (click) = "getId(products[6]._id)">Discover More -></button>
        <div class="icons">
          <div class="icon">
          <i class="fa-solid fa-check"></i>
          <p>Streamlined Shipping Experience</p>
        </div>
        <div class="icon">
          <i class="fa-solid fa-check"></i>
          <p>Affordable Modern Design</p>
        </div><div class="icon">
          <i class="fa-solid fa-check"></i>
          <p>Competitive Price & Easy To Shop</p>
        </div><div class="icon">
          <i class="fa-solid fa-check"></i>
          <p>We Made Awesome Products</p>
        </div>
        </div>
      </div>
    </div>


   <!-- start create gallery images -->
    <div class="gallery">
      <p>Our Gallery</p>
      <h2>Let's Check Our Gallery</h2>
     <div class="images">
        @for(product of products.slice(15 , 18); track $index){
        <img [src]="product.imgCover" alt="">
      }
      <img src="images/galler4.png" alt="" class="img4">
      <img src="images/galler5.png" alt="">
     </div>

    </div>

</div>




