<!-- <img [src] alt="doesn't work"> -->
<div class="box">
<img src = "https://png.pngtree.com/png-clipart/20240110/original/pngtree-pink-rose-3d-cute-icon-element-png-image_14071892.png " alt="">

<ul class="unOrderd">
  <li class="list" ><a routerLink = 'home' routerLinkActive = 'active' >Home</a></li>
  <li class="list" ><a routerLink = 'category' routerLinkActive = 'active'>All Category</a></li>
</ul>


  <div class="search">Search</div>
  <a routerLink = 'login' class="login">Login</a>


</div>
