<div class="navBar">

<img src="images/navBar.png" alt="">

<ul class="unOrderedList">
<li>
  <a routerLink="home" routerLinkActive="active">Home </a>
</li>

<li>
  <a routerLink="category" routerLinkActive="active">Category</a>
</li>
</ul>

<div class="search">
  <i class="fa-solid fa-magnifying-glass"></i>

@if (!authService.isLogged()) {
  <button class="logIn" (click) = "openLogin()">login</button>
}@else{
  <a class="cart" routerLink="cart">
    <i class="fa-solid fa-bag-shopping"></i>
    <span>{{numberOfCartItems()}}</span>
  </a>

  <button (click)="logout()" class="logOut">Logout</button>
}
</div>


</div>




