<div class="navBar">

<img src="images/navBar.png" alt="">

<ul class="unOrderedList">
<li>
  <a routerLink="home" routerLinkActive="active">Home </a>
</li>

<li>
  <a routerLink="category" routerLinkActive="active">Category</a>
</li>
</ul>

<div class="search">
  <i class="fa-solid fa-magnifying-glass"></i>
   @if (!(isloggedIn | async)) {

  <button class="logIn">login</button>
}

@if (isloggedIn | async) {

  <a routerLink="cart">Cart</a>

  <button (click)="logout()" class="logOut">Logout</button>
}
</div>


</div>



<!-- <button class="login" routerLinkActive = "active" >Login</button> -->
