<div class="navBar">

<img src="your-image-url" alt="">

<ul>
<li>
  <a routerLink="home" routerLinkActive="active">Home </a>
</li>

<li>
  <a routerLink="category" routerLinkActive="active">Category</a>
</li>

@if (!(isloggedIn | async)) {
<li class="login">
  <a routerLink="login">Login</a>
</li>
}

@if (isloggedIn | async) {
<li>
  <a routerLink="cart">Cart</a>
</li>

<li>
  <button (click)="logout()" class="logOut">Logout</button>
</li>
}
</ul>
</div>

<!-- <button class="login" routerLinkActive = "active" >Login</button> -->
